body {
    font-family: "Work Sans";
}

a {
    color: #E92D86;
}

a:hover {
    color: #952056;
    text-decoration: none;
}

.btn {
    background: #E92D86;
    border: gray;
}

.btn:hover {
    background: #952056;
    cursor: pointer;
}

.profile-pic {
    width: 200px;
}

.sticky-footer-hack {
    min-height: calc(100vh - 60px);
  } 

  
footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}


.portfolio-item .card-body {
    margin-top: -64px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.portfolio-item .card-body a {
    color: white;
}

.portfolio-item .card-body a:hover {
    color: lightgray;
}